window#waybar {
    background-color: transparent;
    font-family: JetBrainsMono Nerd Font Mono;
}

.modules-center {
    background-color: black;
    border: 3px solid #ff7800;
    border-left-color: black;
    border-left-width: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#workspaces {
    border-radius: 10px;
    background-color: black;
    font-size: 26px;
}

#workspaces button {
    border-radius: 10px;
    color: #ff7800;
}

#workspaces button.persistent {
    color: #6A329F;
}

#workspaces button.empty {
    color: #939393;
}


#workspaces button.active {
    color: #00b817;
}

#network {
    color: #939393;
    font-size: 23px;
}

#network.wifi {
    color: #00b817;
}

#battery {
    color: #00b817;
    font-size: 23px;
}

#battery.warning {
    color: #ff7800;
}

#battery.critical {
    color: red;
}

#backlight {
    font-size: 23px;
    color: #939393;
}

#wireplumber {
    color: #939393;
    font-size: 25px;
}

#wireplumber.muted {
    color: #6A329F;
}

#bluetooth {
    color: #939393;
    font-size: 20px;
}

#bluetooth.connected {
    color: #00b817;
}

#custom-power {
    color: #ff7800;
    font-size: 38px
}

#custom-pwrprofiles {
    color: #939393;
    font-size: 25px;
}

#clock {
    color: #ff7800;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}